// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#img_to_crop{
  -webkit-user-drag: element;
  -webkit-user-select: none;
}

#zoom,#rot{
  width:360px;
  margin:auto;
  height:25px;
}
